{% extends "base.html" %}

{% block main %}




<div class="title-block">
    <h1>Create page</h1>
</div>


<div class="card">
    <div class="card-body">
        <h3 class="card-title">Add another pumpkin</h3>


        <form id="pumpkin-create-form" action="{{url_for('add_another_pumpkin', order_id=order_id)}}" method="post">
            <div class="mb-3">





                <fieldset>
                    <legend>Size:</legend>
                    <div class="form-check">
                        <input type="radio" id="size-small" name="size" value="small"
                            class="form-check-input">
                        <label for="size-small" class="form-check-label">Small</label><br>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="size-medium" name="size" value="medium" checked
                            class="form-check-input">
                        <label for="size-medium" class="form-check-label">Medium</label><br>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="size-large" name="size" value="large"
                            class="form-check-input">
                        <label for="size-large" class="form-check-label">Large</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Eyes:</legend>
                    <select id="eye-select" name="eyes" class="form-select" aria-label="Select pumpkin eyes">
                        <option selected>Select eyes</option>
                        <option value="scare">Scary</option>
                        <option value="crazy">Crazy</option>
                        <option value="friendly">Friendly</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend>Mouth:</legend>
                    <select id="mouth-select" name="mouth" class="form-select" aria-label="Select pumpkin mouth">
                        <option selected>Select mouth</option>
                        <option value="vampire">Vampire</option>
                        <option value="smile">Smile</option>
                        <option value="sad">Sad</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend>
                        Amount of pumpkins:
                    </legend>
                    <input type="number" name="amount" id="red-quantity" min="0" max="6" step="1" inputmode="numeric">
                </fieldset>
            </div>
            <p id="create-form-error-message" class="error-message"></p>
            <button type="submit" class="btn btn-info m-2">Add to my order</button>
        </form>

    </div>
</div>

{% endblock %}