{% set title = "Add to your order" %}
{% extends "base.html" %}

{% block main %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Add a new pumpkin design to your order</h5>


        <form id="pumpkin-add-form" action="{{url_for('add_another_pumpkin', order_id=order_id)}}" method="post">
            <div class="mb-3">

                <div class="mb-3">
                    <label class="form-label">
                        Size:
                    </label>
                    <div class="form-check">
                        <input type="radio" id="size-small" name="size" value="small" class="form-check-input">
                        <label for="size-small" class="form-check-label">Small</label><br>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="size-medium" name="size" value="medium" checked
                            class="form-check-input">
                        <label for="size-medium" class="form-check-label">Medium</label><br>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="size-large" name="size" value="large" class="form-check-input">
                        <label for="size-large" class="form-check-label">Large</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="eye-select" class="form-label">
                        Eyes:
                    </label>
                    <select id="eye-select" name="eyes" class="form-select" aria-label="Select pumpkin eyes" required>
                        <option value="" disabled selected>Select eyes</option>
                        <option value="scary">Scary</option>
                        <option value="crazy">Crazy</option>
                        <option value="friendly">Friendly</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="mouth-select" class="form-label">
                        Mouth:
                    </label>
                    <select id="mouth-select" name="mouth" class="form-select" aria-label="Select pumpkin mouth" required>
                        <option value="" disabled selected>Select mouth</option>
                        <option value="vampire">Vampire</option>
                        <option value="smile">Smile</option>
                        <option value="sad">Sad</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="pumpkin-amount" class="form-label">
                        Amount of pumpkins (10 maximum):
                    </label>
                    <input class="form-control" type="number" name="amount" placeholder="1" id="pumpkin-amount" min="1" max="10" step="1" inputmode="numeric">
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-2">Add to my order</button>
        </form>

    </div>
</div>


{% endblock %}