{% extends "base.html" %}

{% block main %}




<div class="title-block">
    <h1>Login</h1>
</div>


<div class="card">
      <div class="card-body">
            <h3 class="card-title">Login</h3>


            <form action="{{ url_for('login') }}" method="POST">
                  <input type="text" name="username" placehoder="Username" required>
                  <input type="password" name="password" placehoder="Password" required>
                  <button type="submit" class="btn btn-info m-2">Sign up</button>
            </form>


      </div>
</div>


{% endblock %}