{% set title = "Login" %}
{% extends "base.html" %}

{% block main %}
<div class="p-3">
    <p>Demo accounts: </p>
    <ul>
        <li>Use 'admin' and 'admin' to access an admin account</li>
        <li>Use 'bill' and 'bill' to access a customer account</li>
    </ul>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Enter your details</h5>

        <form action="{{ url_for('login') }}" id="login-form" method="POST">
            <div class="mb-3">

                <label for="login-username" class="form-label">
                    Username:
                </label>
                <input type="text" class="form-control" id="login-username" name="username" placehoder="Username"
                    required>
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">
                    Password:
                </label>
                <input type="password" class="form-control mb-2 password-field" id="login-password" name="password"
                    placehoder="Password" required>
                <input class="form-check-input show-password" type="checkbox" id="showPassword">
                <label class="form-check-label" for="showPassword">
                    Show password
                </label>

            </div>
            <p id="error-message" class="error-text"></p>
            <button type="submit" class="btn btn-primary m-2">Log in</button>
        </form>
    </div>
</div>


{% endblock %}