{% extends "base.html" %}

{% block main %}




<div class="title-block">
    <h1>Order details</h1>
</div>


<div class="card">
    <div class="card-body">
        <h3 class="card-title">Your order</h3>

        <ul>
            <li>
                Created at: {{ order.created_at }}
            </li>


        </ul>

        <ul>
            {% for pumpkin in order.pumpkins %}
            <li>
                Pumpkin #{{ loop.index }}:
                Size: {{ pumpkin.size }} |
                Eyes: {{ pumpkin.eyes }} |
                Mouth: {{ pumpkin.mouth }} |
                Amount: {{ pumpkin.amount }}
            </li>
            {% else %}
            <li>No pumpkins found for this order.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card narrow-card">
    <div class="card-body">
        <h3 class="card-title">Order details</h3>

        <form id="order-form" action="{{url_for('order_action', order_id=order.order_id)}}" method="post">
            <!-- <div class="mb-3">
                <fieldset>
                    <legend>
                        Name:
                    </legend>
                    <input type="text" name="name" id="customer-name" required>
                </fieldset>

                <fieldset>
                    <legend>
                        Email:
                    </legend>
                    <input type="text" name="email" id="customer-email" required>
                </fieldset>

                                <fieldset>
                    <legend>
                        Address:
                    </legend>
                    <input type="text" name="address" id="customer-address" required>
                </fieldset>

            </div>
            <p id="create-form-error-message" class="error-message"></p>
            <button type="submit" class="btn btn-info m-2">Create my Pumpkin</button>
        -->
            <button type="submit" class="btn btn-info m-2">Place order</button>
        </form>

        <form id="add-another-pumpkin" action="{{url_for('add_another_pumpkin', order_id=order.order_id)}}"
            method="get">
            <button type="submit" class="btn btn-info m-2">Add another pumpkin</button>
        </form>

    </div>
</div>

{% endblock %}